{% extends 'base.html.twig' %}
{% block title %}connexion{% endblock %}
{% block body %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="exampleModalLabel">Connexion</h4>
                </div>
                <div class="modal-body">
                    {% if error %}
                        <h5>{{ error.messageKey|trans(error.messageData, 'security') }}</h5>
                    {% endif %}
                    {% if app.user %}
                        <h5>vous etes deja connecté en tant que {{ app.user.username }}</h5>
                    {% else %}
                        <form method="post">
                            <h5 class="mb-3 font-weight-normal text-center">Merci de vous authentifier:</h5>
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control my-2" placeholder="Username" required autofocus>
                            <label for="inputPassword" class="sr-only my-2">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="d-flex mx-auto">
                                <button class="btn btn-lg btn-primary mt-2 mx-auto" type="submit">
                                Se connecter
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}