@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
    background-color: #e1e2e1;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
	#navbar{
			height: 7vh;
	}
	#sidebar{
			height:93vh;
	}
}

#navbar{
	background-color: #ef5350;
	color: white;
	font-size: 2rem;

	font-family: 'Leckerli One', cursive;
}

#sidebar{
	background-color:#ff867c;
	color:white;
	font-weight:bold;
	font-size:1.2rem;
}

#sidebar p{
	color: darkslategray;
	font-weight:normal;
	font-size: 1rem;
}

#content{
	background-image: url("/uploads/files/computerBg.jpg");	
	background-size: cover;
}

.card{
	height:100%;
	background-color: transparent;
}

.card-title{
	background-color: #ef5350;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

.card-item{
	background-color: #d5d5d5;
}

.accordion .card-header{
	background-color:#ff867c !important ;
}

.accordion button{
	color: white;
	font-weight: bold;
	font-size: 1rem;
}

.skill {
	background-color: #ff867c ;
	font-size:0.8rem ; 
	color: black;

}


.experience{
	background-color: #ff867c;
		color: white;
	font-weight: bold;
	font-size: 1rem;
}
