<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid  p-0">
			<div id="navbar" class="col-12 d-flex flex-md-row py-2">
				<div class="px-2"><i class="fas fa-laptop-code"></i></div>
			</div>
			<div class="row m-0">
				<div id="sidebar"class="col-12 col-md-2">
					<div class="d-flex justify-content-between">
						<div><i class="fas fa-bars"></i></div>
						<div><i class="fas fa-sign-in-alt"></i></div>
					</div>
					<div>
						<ul>
							<li><a href=""></a>								
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-10">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>